:root {
    --background-color: #fff;
    --font-blue: #5865F2;
    --font-gray: #68727e;
    --font-dark-gray: #4f545c;
    --font-white: #fff;
    --button-color: #3BA55C;
    --box-color: #ccc;
    --footer-background-color: #23272A;
}

header {
    width: 100%;
    height: 80px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.LOGO {
    width: 130px;
    padding-left: 320px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.nav-wrapper {
    padding-right: 320px;
}

.nav li {
    display: inline;
    float: left;
    margin-left: 20px;
}

/* .dropdown-chevron-icon {
} */

.nav li , a {
    color: var(--font-blue);
    font-size: 15px;
}

.nav li:hover {
    text-decoration: underline;
}

.login:hover {
    text-decoration: underline;
}

#main-content {
    width: 100vw;
    height: 310px;
    background-image: url(../img/b7e9dce75f9edb23504e13b4699e208f204e5015.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.main-content-heading {
    font-size: 35px;
    color: var(--font-white);
    font-weight: 800;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.search-container {
    width: 35%;
    height: 38px;
    border-radius: 50px;
    border: solid 2px var(--font-gray);
    background-color: var(--background-color);
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    width: 91%;
    height: 40px;
    font-size: 15px;
    color: var(--font-gray);
    border: none;
}

.search-iconb {
    width: 17px;
    height: 17px;
    color: var(--font-gray);
    margin-right: 7px;
    margin-top: 4px;
}

.intro {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 100px;
}

.intro h2 {
    font-size: 26px;
    color: var(--font-dark-gray);
}

.intro p {
    margin-top: 30px;
    font-size: 16px;
    color: var(--font-dark-gray);
    line-height: 25px;
}

.category-wrapper {
    width: 100%;
    height: 620px;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    margin: 10px;
    width: 240px;
    height: 270px;
    box-shadow: 0px 9px 30px rgb(200 200 200 / 30%);
    float: left;
}

article figure {
    width: 45%;
    height: 45%;
    padding-left: 60px;
    padding-top: 25px;
}

.category {
    text-align: center;
    font-size: 22px;
}

article p {
    font-size: 14px;
    color: var(--font-gray);
    text-align: center;
    margin: 20px;
    line-height: 20px;
}

article p::before {
    content: '';
    width: 50px;
    height: 1.2px;
    background-color: var(--font-gray);
    opacity: 50%;
    display: block;
    margin-left: 77px;
    margin-bottom: 10px;
}

h2 {
    font-size: 26px;
    color: var(--font-dark-gray);
    text-align: center;
}

.category-wrapper-bottom {
    width: 100%;
    height: 400px;
    margin: 45px;
    flex-wrap: wrap;
    justify-content: center;
}

.category-wrapper-bottom article {
    float: left;
}

footer {
    width: 100%;
    height: 620px;
    background-color: var(--footer-background-color);
    margin: 0 auto;
}

.footer-top {
    width: 100%;
    height: 300px;
    position: relative;
}

.button {
    width: 260px;
    height: 40px;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: var(--button-color);
    text-align: center;
    line-height: 40px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button a {
    font-size: 16px;
    font-weight: 750;
    color: var(--font-white);
}

.app figure {
    float: left;
    width: 80px;
}

/* .app::after {
    display: block;
    content: '';
    width: 300px;
    height: 2px;
    color: var(--font-gray);
    position: absolute;
    z-index: 3;
} */

.footer-nav {
    width: 850px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 170px;
}

.footer-logo {
    width: 160px;
}

.footer-nav ul {
    float: left;
    margin: 40px;
}

.footer-nav li  {
    margin-bottom: 20px;
    color: var(--font-gray);
}

.jop {
    color: var(--button-color);
}

#support {
    width: 130px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--font-blue);
    text-align: center;
}

#support p {
    font-size: 17px;
    font-weight: 800;
    color: var(--font-white);
}

