:root {
    --background-color: #fff;
    --font-blue: #5865F2;
    --font-gray: #68727e;
    --font-dark-gray: #4f545c;
    --font-white: #fff;
    --button-color: #3BA55C;
    --box-color: #ccc;
    --footer-background-color: #23272A;
    --article--background-color: #f2f2f2;
}

header {
    width: 100%;
    height: 80px;
    padding: 0 40px;
    box-sizing: border-box;
    background-color: var(--background-color);
}

.header-container {
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.LOGO {
    width: 130px;
    position: relative;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.nav-wrapper {
    display: flex;
}

.nav {
    display: flex;
}

.nav li {
    display: flex;
    margin-left: 20px;
}

.nav li , a {
    color: var(--font-blue);
    font-size: 15px;
}

.nav li:hover {
    text-decoration: underline;
}

.login {
    margin-left: 20px;
}

.login:hover {
    text-decoration: underline;
}

#main-content {
    width: 100vw;
    height: 310px;
    background-image: url(../img/b7e9dce75f9edb23504e13b4699e208f204e5015.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.main-content-heading {
    font-size: 35px;
    color: var(--font-white);
    font-weight: 800;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.search-container {
    width: 35%;
    height: 38px;
    border-radius: 50px;
    border: solid 2px var(--font-gray);
    background-color: var(--background-color);
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    width: 91%;
    height: 40px;
    font-size: 15px;
    color: var(--font-gray);
    border: none;
}

.search-iconb {
    width: 17px;
    height: 17px;
    color: var(--font-gray);
    margin-right: 7px;
    margin-top: 4px;
}

input {
    outline: none;
}

.intro {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 100px;
}

.intro h2 {
    font-size: 26px;
    color: var(--font-dark-gray);
}

.intro p {
    margin-top: 30px;
    font-size: 16px;
    color: var(--font-dark-gray);
    line-height: 25px;
}

.category-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

article {
    margin: 10px;
    width: 240px;
    height: 270px;
    box-shadow: 0px 9px 30px rgb(200 200 200 / 30%);
    float: left;
    transition: 0.2s;
}

article figure {
    width: 45%;
    height: 45%;
    padding-left: 60px;
    padding-top: 25px;
}

.category {
    text-align: center;
    font-size: 22px;
}

article p {
    font-size: 14px;
    color: var(--font-gray);
    text-align: center;
    margin: 20px;
    line-height: 20px;
}

article p::before {
    content: '';
    width: 50px;
    height: 1.2px;
    background-color: var(--font-gray);
    opacity: 50%;
    display: block;
    margin-left: 74px;
    margin-bottom: 10px;
}

article:hover {
    transform: translateY(-10px);
}

h2 {
    font-size: 24px;
    font-weight: 350;
    color: var(--font-dark-gray);
    text-align: center;
}

.category-wrapper-bottom {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.category-wrapper-bottom article {
    width: 255px;
    height: 280px;
    background-color: var(--article--background-color);
}

footer {
    background-color: var(--footer-background-color);
    height: 510px;
}

.footer-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.button {
    width: 260px;
    height: 40px;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: var(--button-color);
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
}

.button a {
    font-size: 16px;
    font-weight: 750;
    color: var(--font-white);
}

.button:hover {
    box-shadow: 0px 10px 25px rgb(000 000 000 / 40%);
    transition: 0.4s;
}

.footer-top {
    width: 1060px;
    height: 160px;
    position: relative;
    margin: 0 auto;
    padding-top: 130px;
}

.browser-background {
    width: 800px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.app a {
    position: absolute;
    top: 42%;
}

.app a figure {
    height: 40px;
    opacity: 40%;
}

.footer-icon {
    position: absolute;
}

.app-browsers {
    position: absolute;
    left: 10%;
}

.app-android {
    position: absolute;
    left: 46.5%;
}

.app-ios {
    position: absolute;
    left: 58%;
}

.app-windows {
    position: absolute;
    left: 77%;
}

.app-osx {
    position: absolute;
    left: 85%;
}

.app figure:hover {
    opacity: 90%;
    transition: 0.2s;
}

.footer-bottom {
    width: 920px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-top: 1px solid var(--font-dark-gray);
    padding: 40px 0px;
}

.footer-nav-wrapper {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer-logo {
    width: 140px;
}

.footer-nav-wrapper li {
    width: 155px;
    height: 15px;
    margin: 0px 16px 16px 0px;
}

.footer-nav-wrapper a {
    color: var(--font-gray);
}

.link-sep {
    color: var(--font-gray);
}

.jop {
    color: var(--button-color);
}

.footer-nav-wrapper li a:hover {
    color: var(--font-white);
    transition: 0.4s;
}

#support {
    width: 135px;
    height: 45px;
    border-radius: 45px;
    background-color: var(--font-blue);
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#support p {
    line-height: 20px;
    font-size: 17px;
    font-weight: 800;
    color: var(--font-white);
    
}

#support figure {
    margin-right: 8px;
    fill: var(--font-white);
    display: inline;
    height: 20px;
}

/* #language-wrapper {
    width: 180px;
    height: 400px;
    background-color: var(--background-color);
    position: absolute;
    text-align: center;
} */

.hamberger-menu{
    display: none;
    background-color: transparent;
    outline: none;
    border: none;
}

@media screen and (max-width:550px) {
    .nav-wrapper ul {
        display: none;
    }
    .hamberger-menu {
        display: block;
    }
}

.more {
    display: none;
}